{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "semi": [2, "always"],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
    "@typescript-eslint/no-unused-vars": ["error"],
    "@typescript-eslint/typedef": [
      "error",
      {
        "variableDeclaration": true
      }
    ],
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "object-curly-spacing": ["error", "always", { "objectsInObjects": true }],
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "space-infix-ops": ["error", { "int32Hint": false }]
  }
}
