@import './size.scss';
@import './colors.scss';

.product-container {
    padding: 00px 10px 10px 10px;
    background: $white;
    color: $blueActive;
    margin: 70px auto;
    min-height: 200px;
    width: 90%;
    
    h1 {
        margin: 00px;
        font-size: 25px;
        padding-top: 30px;
        border-bottom: 1px solid $background;
    }
    
    .view-container {
        grid-template-columns: 1fr 1fr;
        display: grid;
        margin: auto;

        .section-one {
            margin: 10px;

            .product-image-container {
                padding: 00px 20px;
                position: relative;
                margin: 10px auto;
                width: 60%;




                .title {
                    font-size: 20px;
                    font-weight: 900;
                    text-align: left;
                    padding: 10px 00px; 
                    text-decoration: underline;
                }

                img { 
                    width: 100%;
                    height: 300px; 
                }
            }

            .product-info-container{
                text-align: justify;
                margin: 10px auto;
                line-height: 30px;
                font-size: 12px;
                width: 60%;

                div {
                    font-weight: 900;

                    span {
                        font-weight: 10;
                    }
                }

            }

            .product-tab-container {
                grid-template-columns: 1fr 1fr;
                text-align: justify;
                margin: 10px auto;
                display: grid;
                width: 100%;

                .description-container {
                    text-align: justify;
                    font-size: 15px;
                    margin: 05px;
                }

                .attribute-container {
                    text-align: center;
                    margin: 08px;
                    
                    div {
                        border: 1px solid $gray;
                        background-color: $background;
                    

                        input {
                            width: 82%;
                            border: none;
                            padding: 05px;
                            outline: none;
                            font-size: 12px;
                            margin: 7px auto;
                            color: $blueActive;
                        }

                        select {
                            width: 85%;
                            border: none;
                            padding: 05px;
                            outline: none;
                            font-size: 12px;
                            margin: 05px auto;
                            color: $blueActive;
                        }

                        button {
                            width: 85%;
                            border: none;
                            padding: 05px;
                            outline: none;
                            cursor: pointer;
                            font-size: 12px;
                            font-weight: 900;
                            margin: 10px auto;
                            background: $gray;
                            color: $blueActive;
                        }

                        button:active {
                            color: $white;
                            background: $blueActive;
                        }
                    }
                }
            }

            .product-separator {
                width: 80%;
                height: 1px;
                margin: 30px auto;
                background: $gray;
            }

        }

        .section-two {
            margin: 10px;

            .user-info-container {
                margin: auto auto 50px auto;
                padding: 10px 00px 10px 20px;
                border: 1px solid $gray;
                text-align: justify;
                border-radius: 05px;
                font-size: 14px;
                width: 95%;

                    .title {
                        text-decoration: underline;
                        font-weight: 900;
                        font-size: 20px;
                    }

                    .profile-picture {
                        box-shadow: 00px 00px 10px 00px $gray;
                        background: $white;
                        border-radius: 50%;
                        position: relative;
                        margin: 20px 00px;
                        overflow:hidden;
                        height: 70px;
                        width: 70px;
                    
                        img {
                            transform:translate(-0%, -50%);
                            position: absolute;
                            max-width: 100%;
                            height: auto;
                            width: auto;
                            top: 50%;
                        }
                    }

                    div {
                        line-height: 30px;
                        font-weight: 900;
                        
                        span {
                            font-weight: 100;
                            img { width: 60px; height: 10px;}
                        }
                    }
            }

            .map-container {
                width: 100%;
                height: 60vh;
                box-shadow: 00px 00px 10px 00px rgba(4, 25, 95, 0.755);
            }
        }
    }
}

@media(max-width: 700px) {
    .product-container {
        .view-container {
            grid-template-columns: 1fr;
            display: grid;
        }
    }
 }
 
 
@media(max-width: 500px) {
    .product-container {
        .view-container {
            .section-one {
                .product-tab-container {
                    grid-template-columns: 1fr;
                    display: grid;
                }
            }
        }
    }
 }
 