.appwide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background: rgba(0, 0, 0, 0.05); */
    font-family: helvetica;
    background-color: var(--app-background-color);
    position: relative;
}

.appwide-container {
    max-width: var(--app-max-width);
    width: 100%;
    /* background-color: var(--color-white); */
}

.scroll-lock {
    overflow: hidden;
}
