body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  width: 100%;
  background: purple;
  padding: 1rem;
}

nav ul{
  list-style: none;
}

nav ul li{
  color: white;
  display: inline;
  margin: 0 1rem;
  cursor: pointer;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}


main{
  width: 100vw;
  height: 100vh;
}

main h2{
  margin-top: 10rem;
  text-align: center;
  text-transform: uppercase;
}

.product{
  height: 100vh;
  margin: .2rem 0;
  display: grid;
  grid-template-columns: .5fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "nav productImg userInfo"
  "nav mainInfo userInfo"
  "nav content map"
  "nav content map"
  ;
}

.side_nav{
  grid-area: nav;
  background: purple;
  height: 100%;
  text-align: center;
}

.side_nav ul{
  list-style: none;
  margin-top: 3rem;
}

.side_nav ul li{
  color: white;
  display: block;
  margin: 1.5rem 0;
  cursor: pointer;
  padding: .7rem 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.side_nav ul li:hover{
  background: #444;
  opacity: .8;
}

.product_img{
  grid-area: productImg;
}

.product_img img{
  width: 100%;
}

.main_info{
  grid-area: mainInfo;
  margin: 1rem 2rem;
  text-align: left;
}


.contents{
  grid-area: content;
  margin: 0 2rem;
}

.user_info{
  grid-area: userInfo;
  margin-top: 2rem;
 text-align: center;
}

.user_info img{
  width: 10rem;
  height: 10rem;
}

.user_info h3 {
  margin: 1rem 0;
}

.map{
  grid-area: map;
  background: darkred;
 
}

/* This is the tabs style */

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 300px;
  background: #f1f1f1;
  margin: 100px auto 0;
  word-break: break-all;
}

.bloc-tabs {
  display: flex;
}
.tabs {

  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: #333;
}



button {
  border: none;
  
}
.content-tabs {
  flex-grow : 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}