.Navigation {
  margin: 0.5rem;
  width: 15%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;

  @media (max-width: 900px) {
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__link {
    text-decoration: none;
    color: #454d4b;
    &--active {
      color: #3ab396;
    }
  }
}
