@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}
