main {
    position: relative;
    width: 100%;
    left: 0;
    padding: 0 16px;
}

main>section {
    background: var(--accent-color);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}

@media only screen and (min-width: 920px) {
    main {
        position: relative;
        width: 75%;
        left: 25%;
        top: 20%;
        padding: 0 50px;
    }
    
    main>section {
        background: var(--accent-color);
        border-radius: 10px;
        padding: 50px;
        width: 100%;
    }
}