.user-info {
    display: flex;
    align-items: center;
    .picture {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        overflow: hidden;
        border: 1px solid black;

        .profile-pic {
            width: 100%;
        }
    }

    .details {
        padding: 0 24px;

        .username {
            font-size: 20px;
            font-weight: bold;
        }
    }
}