.header {
  z-index: 10;
  height: 25px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: left;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 5px solid #272e71;
}

.navigation {
  z-index: 10;
  width: 18%;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  background-color: #e4b302;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: right;
}

.navigation a {
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

.navigation a:hover {
  color: #666666;
}

.content {
  padding: 0px 10px;
}

.footer {
  z-index: 10;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #272e71;
  text-align: center;
  color: #ffffff;
  padding: 5px;
}
  
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  height: 100%;
}
  
.dropdown-content {
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #e4b302;
  color: #ffffff;
}
  