.Header {
  background-image: linear-gradient(to right, #dce35b, #45b649);
  display: flex;
  padding: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.Header__Logo {
  flex: 0 0 30%;
  text-align: left;
}

.Header__Logo__image {
  width: 40%;
  max-width: 400px;
  height: auto;
}

.Header__Right {
  flex: 1;
  text-align: right;
  margin-top: 1.5%;
}

.item {
  padding: 10px;
  color: #fff;
}

@media only screen and (max-width: 612px) {
  .Header__Right {
    font-size: 10px;
  }
}
