.password-strength {
    border: 2px solid var(--input-border-color);
    height: 7px;
    width: 100%;
    background: var(--input-border-color);
    margin-bottom: 5px;
    border-radius: 4px;
    overflow: hidden;
}

.password-strength>span {
    width: 0px;
    height: 100%;
    display: block;
    transition: .8s;
    border-radius: 4px;
}

.password-strength.quite-bad>span {
    background: var(--quite-bad);
    width: 20%;
}

.password-strength.bad>span {
    background: var(--bad);
    width: 40%;
}

.password-strength.good>span {
    background: var(--bad);
    width: 60%;
}

.password-strength.better>span {
    background: var(--better);
    width: 80%;
}

.password-strength.strong>span {
    background: var(--strong);
    width: 100%;
}

.password-strength.empty>span {
    background: var(--very-bad);
    width: 0px;
}
