.sidebar-section {
  position: fixed;
  height: 100%;
  width: 15%;
  padding: 10px;
}

.top-content-section {
  padding: 5px;
  border-bottom: 0.5px solid #444;
}

.side-bar-content {
  padding: 20px;
  color: #fff;
  display: flex;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-left: 4px solid #133280;
  text-decoration: none;
}

.side-bar-content:hover,
.active-link {
  border-left: 4px solid #fff;
  background-color: #dfdfdf;
  color: #000;
}

.content-icon-section {
  margin-right: 10px;
}
