.drawer_wrapper{
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
}
.drawer_background{
    background-color: #31286f5e;
    width: 100%;
}
.mobile_side_bar{
    width: 57rem;
    height: 100%;
    background: #ffffff;
    position: relative;
    /* z-index: 10; */
}