body {
  --product-background-color: #777;
}
.app {
  width: 100%;
}

.logo {
  height: 1.5rem;
  margin-left: 5px;
}

.nav-icon {
  height: 1.5rem;
  display: none;
}

.close-icon {
  display: none;
}

.header {
  background-color: #5248b7;
  padding: 1rem;
}

.app__body {
  display: flex;
  margin-top: 10px;
}

.sidebar {
  color: #000000;
  text-align: center;
  flex: 0.2;
  background-color: #f1f1f1;
}

.sidebar a {
  text-decoration: none;
}

.product {
  display: flex;
  flex: 0.8;
  padding-bottom: 150px;
  background-color: #f1f1f1;
  margin-left: 10px;
}

.productmain {
  flex: 0.6;
}

.product__image {
  background-color: var(--product-background-color);
}

.product__image img {
  width: 100%;
  height: 100%;
}

.product__info {
  background-color: #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Style the tab */
.tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

/* Style the buttons inside the tab */
.tabs button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab--product {
  width: 50%;
  text-align: center;
}

.active {
  background-color: #ccc !important;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.label {
  font-weight: bold;
  display: block;
}

.show {
  display: block;
}

.info {
  flex: 0.4;
  margin-left: 10px;
}

.info__user {

}

.info__user img {
  width: 100px;
  height: 100px;
}

.info__user .profile {
  text-align: center;
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .nav-icon {
    height: 1.5rem;
    display: inline-block;
  }

  .close-icon {
    display: block;
    height: 1.5rem;
    float: right;
  }

  .sidebar {
    color: #000000;
    text-align: center;
    width: 250px;
    height: 100vh;
    background-color: #d4d3d3f0;
    margin-right: 3px;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }

  .sidebar a {
    text-decoration: none;
  }

  .sidebar.nav-active {
    left: 0;
    transition: 350ms;
  }

  .product {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .productmain {
    flex: 1;
  }

  .info {
    flex: 1;
    margin-top: 10px;
  }
}

/* Medium devices (landscape tablets, 468px and down) */
@media only screen and (max-width: 468px) {
  
}