@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    background: #f6f6f6;

    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
}

.App{
    height: 100vh;
    width: 100%;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    height: calc(100% - 55px);
    @media screen and (min-width: 640px) {
        max-width: 640px;
    }
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
    @media screen and (min-width: 1024px) {
        max-width: 1024px;
    }
    @media screen and (min-width: 1280px) {
        max-width: 1280px;
    }
}



